* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#logoImg {
  height: 10vh;
  margin-bottom: 0px;
}
#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  background-color: black;
}
#navbar ul {
  display: flex;
  text-decoration: none;
  align-items: center;
  width: 40vw;
  justify-content: space-around;
  font-size: 1.5rem;
}
.tag {
  list-style: none;
}
.tag a {
  text-decoration: none;
  color: white;
}
#navbar button {
  width: 12rem;
  color: white;
  background-color: red;
  border-radius: 8px;
  font-size: 1.3rem;
  margin-right: 20px;
}
#navbar button:hover {
  color: yellow;
}

/* dropDown */
li a,
.dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover,
.dropbtn:hover {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
