* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #logoImg {
    height: 10vh;
    margin-bottom: 0px;
  }
  #navbar {
    display: flex;
    position: fixed;
    width: 100%;
    justify-content: space-between;
    background-color: black;
    z-index: 1;
  }
  #navbar ul {
    display: flex;
    text-decoration: none;
    align-items: center;
    width: 40vw;
    justify-content: space-around;
    font-size: 1.5rem;
  }
  .tag {
    list-style: none;
  }
  .tag a {
    text-decoration: none;
    color: white;
  }
  #navbar button {
    width: 12rem;
    color: white;
    background-color: red;
    border-radius: 8px;
    font-size: 1.3rem;
    margin-right: 20px;
  }
  #navbar button:hover {
    color: yellow;
  }
  
  /* dropDown */
  li a,
  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover,
  .dropbtn:hover {
    background-color: red;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

#main {
    position: relative;
    top: 80px;
}

div.hotelname {
    background-color: rgba(196, 196, 196, 0.733);
    
}

div.hotelname p {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    padding: 40px 20px;
    
}



/* Align The div element in center */
div.desc-out {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

div.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: cornsilk; */
    border: 3px solid red;
    border-radius: 20px;
    margin-top: 20px;
    width: 80%;
    padding-bottom: 20px;
}

div.description p {
    font-size: 1.6rem;
    padding: 10px 0;
    /* justify-content: center; */
}

div.description p#hotel-desc {
    color: black;
    line-height: 2;
    padding: 20px;
}


div.description div.key-features {
    display: flex;
    flex-wrap: nowrap;
    width: 80%;
    
}

div.description div.key-features p {
    width: 33%;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 0, 0);
    color: ghostwhite;
    text-align: center;
    border-radius: 15px;
    font-size: 26px;
    text-transform: capitalize;
    /* transition: background-color 1s ease-in-out; */
}

div.description a {
    display: block;
    text-decoration: none;
    color: red;
    background-color: white;
    border-radius: 20px;
    padding: 10px 15px;
    color: black;
    /* font-size: 30px; */
}

#maplink {
    font-size: 30px;
}

#maplink:hover {
  text-decoration: underline;
}

div.description div.price-container {
    display: flex;
    flex-wrap: nowrap;
}

div.description div.price-container div.price {
    width: 40% ;
    margin: 30px;
    padding: 10px 20px;
    background-color: white;
    text-align: center;
    box-shadow: 2px 4px 6px grey, -2px -4px 6px grey;
}

div.description div.price-container div.price p {
    color: black;
    font-size: 30px;
}

hr {
    width: 100% ;
    text-align: center;
}

#booknow {
  background-color: red;
  /* padding: 10px 15px; */
  color: white;
  border-radius: 10px;
}

#booknow a {
  font-size: 30px;
  background-color: red;
  color: white;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
}


/* Carousel css */

.mySlides {display: none}
.mySlides img {
  vertical-align: middle;
  width: 100%;
  height: 400px;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}



/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 1rem;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}






